<a class="infoBtn"></a>
<div class="infoOverlay">
	<a class="close"></a>
	<div class="info">
			<h1>The Image Reader Greeter</h1>
			<h2>is a holiday mashup project designed and built by <a href="http://havas.com" target="_blank">Havas</a> in New York and Toronto.</h2>
			<p>It is made possible by a number of technologies including <a href="https://cloud.google.com/vision" target="_blank">Google Cloud Vision API</a>, <a href="https://www.datamuse.com/" target="_blank">Datamuse</a>, <a href="http://mary.dfki.de/" target="_blank">MaryTTS</a>, <a href="https://github.com/CreateJS" target="_blank">CreateJS</a> and <a href="https://www.ffmpeg.org/" target="_blank">FFmpeg</a>.</p>
	</div>
</div>