vendor
*.log
.idea
.env
assets/background_audio
!assets/background_audio/.gitkeep
assets/merged_audio
!assets/merged_audio/.gitkeep
assets/overlays
!assets/overlays/.gitkeep
assets/photos
!assets/photos/.gitkeep
assets/videos
!assets/videos/.gitkeep
assets/voices
!assets/voices/.gitkeep
assets/tmp/*

